[Unit]
Description=Edit permissions on files required by litd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/chmod 666 /sys/devices/platform/applesmc.768/leds/smc::kbd_backlight/brightness /sys/class/backlight/intel_backlight/brightness

[Install]
WantedBy=multi-user.target
