[Unit]
Description=Auto start litd on user login

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/sleep 5
ExecStart=/path/to/litd -d

[Install]
WantedBy=default.target
